*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
cacerts.jks
/.idea
/.kotlin
/core/database/schemas/ru.kolesnik.potok.core.database.AppDatabase/1.json
/app/dependencies/prodReleaseRuntimeClasspath.txt
.env
